.navbar-nav a {
    font-weight: 600;
    color: black !important;
  }

  .navbar-nav a:hover {
    font-weight: 700;
    color: red !important;
  }
  .user button {
    font-weight: 500;
    margin: 10px;
    padding: 0px 30px;
    
  }
  .user button:hover{
    font-weight: 600;
    color: red;
  }

  .cards{
    overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; 
   -webkit-box-orient: vertical; 
    }
    .img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

  @media screen and (max-width:600px) {
    .user{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        border:0px ;
    }
  }